#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
}

.user-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(108, 108, 108);
  height: 300px;
  margin: 0.5em;
}

.list-div{
  max-width: 1400px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_description{
  display: flex;
  flex-direction: column;
}

.car_important_info img{
  border-radius: 3em;
}

.title_user{
  font-size: 2em;
 
}

.button_title{
  margin: 1em;
}

.description_item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_item span{
  margin: 0 0 0 0.5em;
}